<div>
    <a href="/view/transactions">Show</a> | <a href="/view/transactions/create-excel">Tạo theo Excel</a> | <a href="/view/transactions/bank">Bank</a> | <a href="/view/transactions/create">Create</a> |
</div>